@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 245, 245, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (min-width: 1024px){
  .it {
    width: 12%;
  }
}

::-webkit-scrollbar{
  width: 0;
}

body, main {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

button {
  margin-left: 10px;
}

.cardNumber {
  min-width: 10px;
  cursor: pointer;
}

.side-bar {
  width: 250px;
  z-index: 1;
  transition: 0.5s;
}

.side-bar button {
  background-color: inherit;
  top: calc(50% - 12px);
}

.side-bar.closed{
  right: -250px;
}

.select-container{
  background-color: inherit;
}

.select__menu{
  background-color: inherit;
}